<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Trirong|Audiowide">
  <link rel="stylesheet" href="../asset/CSS/style.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" />
  <title>TODO Manager</title>
</head>
<body>

  <div id="container">
    <h1 id="title">To Do Manager</h1>
    <div id="input-div">
      <!-- <p>Description</p> -->
      <input type="text" id="task-name" placeholder="What do you want to do?" required>
    </div>


    <div id="task-details">
      <div>
        <label for="category">Category:</label>
        <input type="text" placeholder="Choose Category:" id="favCktPlayer" list="Category">  
        
        <datalist id="Category">
            <option value="School">
            <option value="Personal">
            <option value="Work">
            <option value="Revision">
            <option value="Other">
        </datalist> 
      </div>

      <div>
        <label for="date">Date:</label>
      <input placeholder="Choose Date" type="date">

      </div>
    </div>
    <div id="button">

      <button id="submit"><i class="fas fa-plus"></i> Add Task</button>
      <button id="delete"><i class="far fa-trash-alt"></i> Delete Task</button>

    </div>

    <div class="items">
      <div class="item-details">
        <input type="checkbox">
        <span>Walking from 7 AM</span></br>
        <span>20 May 2021 </span>
      </div>
      <div class="category-display">
        <p>Work</p>
      </div>

    </div>

  </div>
  
</body>
</html>