

/* Small devices (portrait tablets and large phones, 600px and up) */
/* @media only screen and (min-width: 600px) {...} */

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) and (max-width: 1200px){
  #container{
    width:80%;
    float: left;
    height: 100vh;
  }

 body::after{
    display: none;
  }
  #title{
    font-size: 1.2rem;
    margin-top: 1vh;
  }
  
  .task-name{
    font-size: 0.8rem;
    }

    #task-name{
      height: 6vh;
      width: 95%;
      font-size: 0.6rem;
    }
  
    .date{
      font-size: 0.4rem;
    }

    .task-category{
      font-size: 0.4rem;
    }

    #task-details{
      position: relative;
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      align-items: center;
      width:100%;
      height: auto;
      padding-top: 1vh;
      /* background-color: red; */
    }
    #category, #calender-div{
      display: flex;
      align-items: center;
      width: 50%;
    }
    
    #category-header{
      width:50%;
      height: 3.2vh;
      font-size: 0.2rem;
    }

    #calender{
      font-size: 0.2rem;
      width:45%;
      height:4.5vh;
    }

    #button{
      height: 7vh;
    }

    #submit, #delete{
      width:18vw;
      height: 6vh;
      font-size: 0.7rem;
    }

    .delete-button a{
      font-size: 0.8rem;
    }

    #display {
      position: relative;
      height: 60vh;
    }

    #db-length{
      font-size: 0.7rem;
    }
  
}

/* Large devices (laptops/desktops, 992px and up) */
/* @media only screen and (min-width: 992px) {...} */

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1300px) {
    /*--------------Setting body with various design ------------ */
  
    body{
      display: flex;
      background: #161623;
      justify-content: center;
      align-items: center;
      min-height: 100vh;
    }

    body::after{
      content: "";
      position: absolute;
      top:0;
      left: 0;
      width: 100%;
      height: 100%;
      background: linear-gradient(#2196f3, #e91e63);
      clip-path: circle(20% at 10% 10%);

    }

    body::before{
      content: "";
      position: absolute;
      top:0;
      left: 0;
      width: 100%;
      height: 100%;
      background: linear-gradient(#f00, #f0f);
      clip-path: circle(30% at right 70%);
    }


/*--------------Contanier for Project ------------ */    
    #container{
      padding:15px;
      width:40vw;
      height: 90vh;
      box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
      background:rgba(255, 255, 255, 0.1);
      border-radius: 15px;
      border-top: 1px solid rgba(255, 255, 255, 0.5);
      border-left: 1px solid rgba(255, 255, 255, 0.5);
      backdrop-filter: blur(5px);
      transition: 0.5s; 
      /* above property will fix */
    }
    #title{
      font-family: "Audiowide", "Trirong", serif;
      color: rgb(255, 255, 255);
      text-align: center;
      text-shadow:0px 0px 5px rgb(54, 218, 247);

      letter-spacing: 1.5px;
    }

    #title-div{
      margin-top: -1.4vh;
      padding: 0.2vh 0;
    }

/* -----Input DIv for taking input----- */
    #input-div{
      display: flex;
      height: auto;
      justify-content: center;
      flex-direction: column;
      overflow: hidden;
      color: white;
      text-align: center;
      font-size: 1.1rem;
    }

  /* ---------Setting task name, details -----------*/
  #task-name{
    width: 98%;
    height: 2.7vw;
    padding-left: 1vh;
    letter-spacing: 1px;
    border-radius: 10px;
    margin-top:2vh;
    overflow: hidden;
    font-size: 0.8em;
    font-family:"Trirong", serif; 
    background: none;
    box-shadow: 0 0 3px 1px rgb(229, 227, 231) ;
    color: white;
    font-family: 'Montserrat Alternates', sans-serif;
  }

  #category-header{
    background: none;
    border: none;
    font-size: 0.7rem;
    border: solid 1px white;
    border-radius: 5px;
    height: 3vh;
    color:white;
  }
  ::placeholder { 
    color: white;
    opacity: 1; 
    letter-spacing: 2px;
  }

  #task-details{
    margin-top: 1vh;
    color: white;
    padding: 1vh 0;
    display: flex;
    justify-content: space-between;
  }


/* -------Button animation --------- */
    #button{
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 1vh;
      padding: 1vh;
      border-bottom: 2px solid rgb(6, 136, 125);

    }

    #submit{
      cursor: pointer;
      width:8vw;
      margin-right:0.5vw;
      height: 2vw;
      color:rgb(2, 151, 102);
      border: none;
      border-radius: 18px;
      background-color: white;
      font-size: 0.9rem;
      margin-left: 1vw;
      box-shadow: 0 0 5px 2px rgb(166, 245, 205);

    }

    #submit:hover{
      background-color: rgb(5, 189, 128);
      color:rgb(251, 251, 251);
      border:0px ;
      transition: all 0.8s;
      box-shadow: 0 0 15px 2px rgb(166, 245, 205);

    }
    #delete{
      display: flex;
      cursor: pointer;
      width:8vw;
      height: 2.2vw;
      color:red;
      border-color: rgb(106, 5, 189);
      border-radius: 18px;
      background-color: white;
      font-size: 0.9rem;
      margin-left: 1vw;
      box-shadow: 0 0 5px 2px red;
      text-align: center;
      align-items: center;
      justify-content: center;
      text-decoration: none;
    }

    #delete:hover{
      text-shadow: 1px 1px 5px rgb(221, 22, 161);
      background-color: red;
      color:rgb(251, 251, 251);
      border:0px ;
      transition: all 0.8s;
      box-shadow: 0 0 15px 2px red;
    }

/* ---------Styling the Calender Format -------------*/
    #calender {
      position: relative;
      width: 10vw; 
      height: 3vh;
      color: white;
      border-radius: 10px;
      font-size: 0.8rem;
    }

    #calender:before {
      position: absolute;
      top: 3px; left: 3px;
      content: attr(data-date);
      display: inline-block;
      color: black;
    }

    #calender::-webkit-calendar-picker-indicator {
      position: absolute;
      top: 3px;
      right: 0;
      color: black;
      opacity: 1;
    }

/* ---------Table Formating--------- */
    table{
      border-collapse: collapse;
    }

    #items-table{
      width:100%;
    }
    #items-table tr{
      border-bottom: 2px solid rgb(29, 24, 24);
    }
    .items-div{
      width:38vw;
      height: 10vh;
      box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
      background:rgba(255, 255, 255, 0.1);
      border-radius: 15px;
      border-top: 1px solid rgba(255, 255, 255, 0.5);
      border-left: 1px solid rgba(255, 255, 255, 0.5);
      backdrop-filter: blur(5px);
      border: none;
      transition: 0.5s; 
      margin: 10px;
    }

    .task-name{
      color:#00ff9d;
      font-size: 1.2rem;
      letter-spacing: 1px;
    font-family: 'Montserrat Alternates', sans-serif;

    }
    .date{
      color:rgb(247, 248, 248);
      font-size: 0.85rem;
      letter-spacing: 1px;
      font-family: 'Tajawal', sans-serif;
    }
    .task-category {
      background-color: #f0f;
      color:white;
      font-size: 0.9rem;
      text-align: center;
      margin-right: 1vw;
      padding: 3px; 
      border-radius: 5px;
    font-family: 'Hind', sans-serif;

    }

    .delete-button a{
      position: inherit;
      color:rgb(255, 58, 58);
      font-size: 1rem;
      margin-left: 1.5vw;
      margin-right: 0.5vw;
    }
    .delete-button a:hover{
      font-size: 1.1rem;
      color:#f00;
      text-shadow:2px 2px 5px #f00;
    }
    #delete a{
      color:red;
      text-decoration: none;
    }
    #delete a:hover{
      color:white;
      text-decoration: none;
    }

/* ----------Setting various class to select color based on the priorty to catogry */
    .School{
      background-color :#ffcc66;
      color: #351c75;
    }
    .Important{
      background-color:yellow;
      color: black;
    }
    .Personal{
      background-color:#800080;
      color: white;
    }
    .Other{
      background-color: rgb(0, 255, 128);
      color:black
    }
    .Work{
      background-color: #003366;
      color:#FFFF00;
    }

/* ---------Display Div to show Task fromDB--------- */

    #display{
      margin-top: 1vh;
      display: flex;
      flex-direction: column;
      height: 52vh;
      overflow: scroll;
      scrollbar-width: none; /* firefox */
      -ms-overflow-style: none;
    }

    #display::-webkit-scrollbar {
      display: none;
    }

/* Showing total avail task in the bottom */
    #db-length{
      position: relative;
      color:white;
      font-size: 0.9rem;
      text-align: center;
      margin-top: 2vh;
      letter-spacing: 2px;
      text-shadow:0px 0px 2px rgb(228, 225, 225);

    }

}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 768px) , (max-width: 765) {
  #container{
    width:100%;
    margin-top: -1.5vh;
    height: 94vh;
  }

 body::after{
    display: none;
  }
  #title{
    font-size: 1.6rem;
  }

  .task-name{
    font-size: 0.6rem;
    }

    #task-name{
    height: 5vh;
    width: 95%;
    font-size: 0.6rem;
    }
  
    .date{
      font-size: 0.4rem;
    }

    .task-category{
      font-size: 0.4rem;
    }

    #task-details{
      height: auto;
      padding-top: 1vh;
    }

    #calender{
      width:100%;
      font-size: 0.7rem;
    }

    #button{
      height: 2vh;
    }

    #submit, #delete{
      width:25vw;
      height: 2.8vh;
      font-size: 0.5rem;
    }

    .delete-button a{
      font-size: 0.8rem;
    }

    #display {
      /* position: relative; */
      height: 59vh;
    }

    #db-length{
      font-size: 0.7rem;
      text-shadow: none;
      color:white;
    }
}